expname = env_0_front_pose_range_2_22_dist_depth_align
# expname = env_0_pose_debug

basedir = ./logs

num_epoch = 10000
save_weights_freq_epoch = 10
save_testset_freq_epoch = 50
precrop_epoch = 1
precrop_frac = 0.5

light_cond = 20
datadir = ../data/nerf_real/env_0_front_dist
dataset_type = real_data
maximum_pose = 1000

batch_size = 1
# white_bkgd = True
lrate_decay = 500

N_samples = 64
N_importance = 128
N_rand = 1024

half_res = True
quat_res = False
render_debug = False
gt_light_rate = 1.1
near = 2
far = 22
use_image_list = False
# ft_path = "/home/jqzhou/Desktop/Work/nerf-pytorch/nerf_light/logs/env_0_pose/000323.tar"
# ft_path = "/home/jqzhou/Desktop/Work/nerf-pytorch/nerf_light/logs/env_0/001199.tar"